{% extends 'layout.html' %}

{% block title%}
    User Login
{% endblock %}

{% block content %}
    <h1>User Login</h1>

    {% comment %}
        for user registration using the built in function of django
        
        action = the link see the url.py
        
    {% endcomment %}

    <form class="form-with-validation" action="{% url 'users:login' %}" method="post">
        {% comment %}
            django provides security using cross-site request forger (CSRF) token ensuring that this form is submitted in our site and not scam site
            this is the line to use the form in the function register_user
        {% endcomment %}
        {% csrf_token %} {% comment %} without this django will throw in error when you use the built-in user registration of django {% endcomment %}
        {{ form }}

        {% comment %}
            this line is for if the user tries to access a protected page that requires the user to login
            the request.GET.next refers to the next in the url: http://127.0.0.1:8000/users/login/?next=/posts/new-post/
        {% endcomment %}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}"/>
        {% endif %}
        <button class=form-submit>Submit</button>
    </form>
{% endblock %}